body { background-color: #f8f9fa; }
.h1 { text-align: center; margin-top: 20px; font-weight: bold; color: #002453; }
form {
    background: white; padding: 20px; border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); margin: 30px auto; max-width: 700px;
}
.alerta-error { color: #d9534f; font-size: 0.9em; margin-top: 5px; display: none; }
.alerta-error.d-block { display: block; }
.campo-oculto { display: none; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}